@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.about-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: white;
}

.about-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 20px;
    padding: 20px 0;
    background-color: transparent;
    z-index: 2;
}

.library-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}
/* Centered About content styling */
.about-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 2;
    width: 90%;
    max-width: 800px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

.about-content h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about-content p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .about-content {
        padding: 20px;
        width: 95%;
    }


    .library-title {
        font-size: 1.2rem;
    }

    .about-content h2 {
        font-size: 1.5rem;
    }

    .about-content p {
        font-size: 1rem;
        line-height: 1.4;
    }
}
